@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: dark;
	color: #ffffff;
	background-color: #000000;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: #e50914;
	text-decoration: none;
	transition: color 0.3s;
}
a:hover {
	color: #ff1f1f;
}

body {
	margin: 0;
	min-width: 320px;
	background-color: #000;
	color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	margin-bottom: 0.5em;
}

button {
	cursor: pointer;
}

.btn {
	border-radius: 4px;
	border: none;
	padding: 0.3em 0.6em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: black;
	color: white;
	transition: background-color 0.3s ease;
	cursor: pointer;
}
.btn:hover {
	background-color: #ffffff55;
}

section {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	background: #111;
}
::-webkit-scrollbar-thumb {
	background-color: #e50914;
	border-radius: 4px;
}
